:root {
  --text-font: 'Roboto', sans-serif;
  --text-font-logo: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --wite-color: #ffffff;
  --black-color: #212121;
  --grey-color: #757575;
  --color-footer: #2f303a;
  --icon-color: #afb1b8;
  --main-bg-color: #f5f4fa;
  --time-animation: 250ms;
  --bezier-animation: cubic-bezier(0.4, 0, 0.2, 1);
}

$text-font: 'Roboto', sans-serif;
$text-font-logo: 'Raleway', sans-serif;
$accent-color: #2196f3;
$wite-color: #ffffff;
$black-color: #212121;
$grey-color: #757575;
$color-footer: #2f303a;
$icon-color: #afb1b8;
$main-bg-color: #f5f4fa;
$time-animation: 250ms;
$bezier-animation: cubic-bezier(0.4, 0, 0.2, 1);